<script src="/assets/js/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.33/vfs_fonts.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<script type="text/javascript">
		(function($) {
			$(document).ready(function() {
				$.noConflict();

				var table = $('#table_id').DataTable({
					colReorder: true,
					select: true,
					dom: "lf<'floatright'B>",
					select: true,
					buttons: [
						"excel",
						{
							extend: "print",
							exportOptions: {
								columns: ":visible",
								modifier: { search: "applied" }
							}
						},
						{
							extend: "pdfHtml5",
							orientation: "landscape",
							pageSize: "LEGAL",
							download: "open",
							exportOptions: {
								columns: ":visible",
								modifier: { search: "applied" }
							}
						},
					],
					language: {
						url: '/assets/language/datatable.pt_BR.json'
					}
				});
			}); // ready
		})(jQuery);
</script>

{% include '@partials/tabela_busca.html.twig' %}

<div class="g-container">
	<div class="g-grid">
		<div class="g-block size-100 w-clearfix">
			{% include '@partials/tabela_lista.html.twig' %}
		</div>

		{% include '@partials/grafico_barras.html.twig' %}

	</div>
</div>
